.border {
  border: 1px solid red;
  margin: 3px;
}
.flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

.bg-black {
  background-color: black;
  color: white;
}

.invert {
  filter: invert(1);
}
.bg-gray {
  background-color: #121212;
}
.rounded {
  border-radius: 7px;
}

.m-1 {
  margin: 5px;
}

.p-1 {
  padding: 5px;
}

.m-2 {
  margin: 15px;
}
.small-size {
  width: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  display: none;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #222;
  display: none;
}
::-webkit-scrollbar-track {
  background-color: #222;
  display: none;
}

.gap-1 {
  gap: 20px;
}
